{% extends 'base.html' %}

{% block title %}Real Time Healthcare Guardian{% endblock %}

{% block content %}

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Real Time Healthcare Guardian</h1>
      <p class="lead">Your health and fitness tracking companion.</p>
      <hr class="my-4">
      <p>
        Welcome to Realtime Healthcare Guardian! Sign up now to access personalized health tracking features and start monitoring your heart rate daily. With our intuitive platform, you can stay informed about your health status and receive emergency alerts to keep your loved ones informed
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('onboarding') }}" role="button">Get onboard</a>
      </p>
    </div>
  </div>

 
  <section id="signup" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Signup to Setup Your Account</h2>
          <p class="lead">Sign up today to take control of your well-being and gain access to features designed to enhance your health journey. From real-time heart rate tracking to historical data analysis, our platform empowers you to make informed decisions about your health.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('onboarding') }}" role="button">Get onboard</a>
          <p class="lead">Already onboarded? Signup to setup your account.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

 
  <section id="login" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Login to Healthcare Dashboard</h2>
          <p class="lead">Join us today and experience the peace of mind that comes with knowing your health is in good hands.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
