<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Time Healthcare Guardian</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
  <style></style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home') }}">Healthcare Guardian</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Real Time Healthcare Guardian</h1>
      <p class="lead">Your health and fitness tracking companion.</p>
      <hr class="my-4">
      <p>Signup to get onboard your account and start tracking your health heart rate daily and send emergency alerts to your families</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('onboarding') }}" role="button">Get onboard</a>
      </p>
    </div>
  </div>

 
  <section id="signup" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Signup to Setup Your Account</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('onboarding') }}" role="button">Get onboard</a>
          <p class="lead">Already onboard? Signup to setup your account.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

 
  <section id="login" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2>Login to My Healthcare Dashboard</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        </div>
      </div>
    </div>
  </section>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script></script>
</body>
</html>
